# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
backups/

# Undo-tree save-files
*.~undo-tree

# Emacs
auto-save-list/
elpa/
image-dired/
games/
transient/
url/
org-roam.db
org-roam.db-journal
.org-id-locations
bookmarks
*#
.#*
.cache
flycheck_init.el

# Local packages
lisp/
